.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.search-input {
  border-radius: 10px;
  width: 91%;
  padding: 10px;
  background-color: rgb(202, 248, 233);
}
