.messages-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.message-mine {
  background-color: #d4f8c4; /* verde claro */
  align-self: flex-end;
}

.message-other {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.message-meta {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 5px;
}
